body {
    background-color: #212529;
}

.btn {
    background-color: rgb(182, 62, 53);
    color: white;
}

.btn:hover {
    background-color: rgb(214, 105, 97);
}

.navbar-brand {
    font-size: 30px;
}

.card {
    background-color: rgb(236, 169, 164);
}

#container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 18rem);
    -ms-grid-column-align: center;
}
